@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: #f7f8fd;
  font-family: "Josefin Sans", sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
