label {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-weight: 400;
  color: #4562de;
  background-color: #f2f4ff;
  border-radius: 0.6rem;
  margin: 0.4rem 0.2rem;
}
input {
  appearance: none;
}
input:checked + label {
  background-color: #4562de;
  color: #fff;
}
label:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #4661e644;
}

.filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 10rem;
  margin: 0.5rem;
  border: none;
  background-color: #fff;
  border-radius: 0.5rem;
}
