header {
  height: 10rem;
  color: #fff;
  text-transform: capitalize;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  padding-left: 1rem;
}
header h1 {
  line-height: 2.5rem;
  font-size: 1.2rem;
}
header p {
  color: #ffffffd3;
}

.desktop {
  background-image: url("../assets/desktop/background-header.png");
}
.tablet {
  background-image: url("../assets/tablet/background-header.png");
  height: 10rem;
  margin: 0;
}
.mobile {
  background-image: url("../assets/mobile/background-header.png");
  height: 5rem;
  border-radius: 0;
}
.desktop h1 {
  padding-top: 5rem;
}
.tablet h1 {
  padding-top: 5rem;
}
.mobile h1 {
  padding-top: 1rem;
}
