.home {
  width: 100vw;
}
.desktop {
  padding: 8vw 10vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.tablet {
  padding: 3rem 2rem;
}
.mobile {
  padding: 0rem;
}
.hfr-desktop {
  width: 25%;
  display: grid;
  grid-template-areas: 1fr;
  grid-gap: 1rem;
}
.hfr-tablet {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.desktop .feedback {
  width: calc(75% - 1rem);
}
.tablet .feedback,
.mobile .feedback {
  width: 100%;
}
